@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

html, body {
    scroll-behavior: smooth;
}

body {
  font-family: 'Tajawal', sans-serif;
  min-width: 290px;
  color: #989898;
  background-color: #050505;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: #101111
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar header {
    color: #fff;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #a9a9a9;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}